body {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.container-fluid {
  padding: 0;
}

/*----- Navbar section -----*/
.navbar {
  background-color: black;
}

a.navbar-brand {
  font-family: 'Permanent Marker';
  font-size: 1.8em;
  letter-spacing: 0.2rem;
}

.nav-item {
  padding: 0.6rem 1rem;
}

.nav-link {
  font-size: 1.3em;
  color: white !important;
}

.nav-item>a:hover {
  color: orange !important;
}

/*----- Main Picture -------*/
.image-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.image {
  width: 80%;
}

.big-image {
  margin: auto;
  width: 100%;
  margin-left: 5rem;
}

#home {
  background-color: black;
}

/*---- Social Media icons ----*/
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-left: 200px;
}

.social-icons>a {
  margin: 0.5rem;
}

.social-icons>a:hover {
  opacity: 0.5;
}

/*----- Video Section -------*/
h1 {
  font-size: 3rem;
  padding: 1rem;
  padding-top: 3rem;
}

#music {
  height: 42rem;
  background-color: orange;
}

iframe {
  padding-bottom: 3rem;
}

.videos-container {
  text-align: center;
}

.videos-container>h1 {
  color: white;
  font-weight: bold;
}

.carousel-control-prev {
  margin-left: 10rem;
  margin-top: 5rem;
}

.carousel-control-next {
  margin-right: 10rem;
  margin-top: 5rem;
}

/*---- Songs grid section ----*/
/* .songs-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 3em;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 130px;
} */
.songs-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.card {
  width: 30%;
  margin: 10rem 2rem;
}

#songs {
  background-color: black;
}

.card-body {
  background-color: black;
  text-align: center;
}
.card {
  box-shadow: 5px 8px 8px 8px #3b1515;
}

.spotify-icon, .youtube-icon {
  width: 1.2rem;
  margin: 0 0.5rem;
}

.youtube-icon {
  width: 1.7rem;
}

/*----- Second/Third Picture -------*/
.image1>img {
  width: 100%;
}

/*----- Tour Section -------*/
.tour-schedule {
  color: white;
  text-align: center;
  background-color: black;
}

.tour-container>h1 {
  font-weight: 700;
  color: orange;
  padding: 2rem;
  padding-top: 5rem;
}

.date {
  padding: 1rem;
}

.date>h3 {
  font-weight: 700;
}

.date-four {
  padding-bottom: 5rem;
}

/*----- Footer -------*/
#footer>p {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
}

/* If the media is 600px or less do this: */
@media screen and (max-width: 600px) {

  /*----- Navbar section -----*/
  .nav-item {
    padding: 0;
  }

  .nav {
    height: 200%;
  }

  /*----- Video section -----*/
  iframe {
    width: 380px;
    height: 300px;
  }

  .carousel-control-prev, .carousel-control-next {
    margin: 0;
  }

  span.carousel-control-prev-icon, span.carousel-control-next-icon {
    margin: 0;
    margin-top: 5rem;
  }

  .card-1 {
    margin: 4rem 2rem 4rem 2rem;
  }

  .card-2{
    margin: 0rem 2rem 4rem 2rem;
  }

  /*----- First Image -----*/
  .big-image {
    margin-left: 0;
  }

  .image {
    width: 100%;
    margin-left: 0;
  }

  /*----- Main Picture -------*/
  .image-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  /*----- Social Icons -----*/
  .social-icons>a {
    width: 18px;
    margin: 0.5rem 1rem;
  }

  img.youtube {
    width: 43px;
  }

  .social-icons {
    flex-direction: row;
    padding: 0;
    margin-bottom: 1rem;
    justify-self: baseline;
  }

  /*----- Tour Section -----*/
  .tour-schedule {
    display: flex;
    height: 1000px;
    text-align: center;
  }

  .tour-container {
    justify-content: center;
    align-self: center;
  }

  #music {
    height: 30rem;
  }
}
