body {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

/*Navbar section */
.navbar {
  background-color: black;
}

h1 {
  padding: 1rem;
  padding-top: 5rem;
}

a.navbar-brand {
  font-family: 'Permanent Marker';
  font-size: 1.8em;
}

.nav-item {
  padding: 0.6rem 1rem;
}
.nav-link {
  color: white!important;
}

a.nav-link:hover{
  background-color: rgb(73, 73, 73);
}

.image-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/*----- Main image -----*/
.image {
  width: 50%;
}

/*----- Social Media icons -----*/
.social-media {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
}

.facebook-icon, .instagram-icon, .spotify-icon {
  width: 2rem;
  margin: 0.5rem;
}

.spotify-icon {
  margin-right: 2rem;
}

.videos-container {
  text-align: center;
  background-color: orange;
}

.videos-container > h1 {
  color: white;
  font-weight: bold;
}

.videos-container > h4{
  margin-bottom: 0;
  padding: 2rem;
  padding-bottom: 5rem;
}

.carousel-item>img {
  margin: auto;
}

.w-50 {
  width: 40% !important;
}

.image1 > img {
  width: 100%;
}

.tour-schedule {
  color: white;
  text-align: center;
  background-color: black;
}

.tour-schedule > h1 {
  font-weight: 700;
  color: orange;
  padding: 2rem;
  padding-top: 5rem;
}

.date {
  padding: 1rem;
}

.date-four {
  padding-bottom: 5rem;
}

/* If the media is 900px or less do this: */
@media screen and (max-width: 600px) {
  .nav-item {
    padding: 0;
  }

.nav {
    height: 300px;
  }

  .image {
    width: 100%;
  }

  .w-50 {
    width: 80% !important;
  }
}
